<%- partial('_partial/head') %>
<body>
	<a href="http://tomchambers.me" target="_blank"><div class="see-more"><p class="see-more-inside">Back to Tom Chambers home</p></div></a>
  <div id="container">
    <%- partial('_partial/header') %>
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>